<%- include('../layouts/header.ejs') %> 
    <h1 class="alert alert-success">Votre Candidature a ete bien recu</h1>
    <a href="/zach" class="btn btn-lg btn-warning">S'enregistrer</a>
<%- include('../layouts/footer.ejs') %> 